@import 'normalize.css';
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// Customise Bulma's theming here
// See https://bulma.io/documentation/overview/customize/ for more details

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$blue: #1D3CD6;
$green: #00d1b2;
$red: #e54146;

// Set application colors to $blue
$primary: $red;
$info: $green;
$card-header-color: $green;


// Fonts
$family-sans-serif: 'Josefin Sans', sans-serif;
$family-primary: $family-sans-serif;

$footer-background-color: $primary;

//  Background image on landing page
.is-hero-background-image {
  background: url('../static/hero-splash.png') no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding-top: 2em;
  height: 60vw;
}

// Prevent white line from appearing between images
.hero.is-primary {
    margin-top: -1%;
    border-bottom: -1%;
}

// Give the subscriptions section some space to breath
#subscriptions {
  padding-top: 3em;
  padding-bottom: 3em;
}

// Give the footer some space to breathe
.footer {
    padding-top: 10em;
}

.fork-me {
    fill: $info
}

.content a {
    text-decoration: underline;
}


// "has-text-white" removes decorations from text. Add them back to links so that they look correct
a.has-text-white {
    text-decoration: underline;
}

// These are to limit the width of form fields. On fullhd and widescreen monitors, UI elements are far too wide
$widescreen: calculate(45rem);
$fullhd: calculate(45rem);


@import "bulma/bulma";
@import 'bulma-extensions/bulma-slider/slider';
@import 'bulma-extensions/bulma-pageloader/pageloader';
@import 'bulma-extensions/bulma-divider/divider';
@import 'bulma-extensions/bulma-checkradio/checkradio';
@import 'bulma-extensions/bulma-pricingtable/pricing-table';
@import 'bulma-extensions/bulma-steps/steps';


// Add a little spacing on top of navbar-item
.navbar {
  margin-top: 1em;
}

// Add additonal affordances to currently selected page in navbar
.navbar-item.is-active {
    @include desktop {
        border-bottom: 3px solid $primary;
    }
}

.burger {
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    border-radius: 50%;
}

// A little spacing between previous and next buttons
.form-nav  .button {
    margin: 0.4em;
}

.columns.is-reversed-mobile {
    @include mobile {
        display: block;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        .column {
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }
    }
}

.is-divider-vertical {
    @include mobile {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
}

// Override Auth0's styling

.auth0-lock-submit {
    background-color: $primary !important;
    border-radius: 5px !important;
}

.auth0-lock {
    font-family: $family-primary !important;
}

.auth0-lock-header-bg-blur {
    background-image: none !important;
}

.auth0-lock-header-bg {
    background: none !important;
}
.auth0-lock-header {
    height: auto !important;
}
